

/*------------------------------
	GLOBAL
------------------------------*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 16px;
	line-height: 1.4;
	color: #444;
	margin-bottom: 80px; /* Delete me!! */
}

#templateContainer {
	width: 600px;
	background-color: #F4F4F4;
	
}

/*a:hover {opacity: .7}*/


/*------------------------------
	TYPOGRAPHY
------------------------------*/

h1,h2,h3,h4,h5,h6,p {margin-top: 0}

.intro {
	color: #7A7A7A;
	font-size: 20px;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	color: #5d7fb8;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: .1em;
}

h3 {
	font-size: 20px;
	color: #5d7fb8;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: .01em;
}

.table-header {
	margin-top: 12px;
}

h4 {
	margin-bottom: 8px;
}

.featured h2 {
	color: #EEBC33;
	font-size: 23px;
	font-weight: normal;
}

.featured .intro {
	color: white;
}


/*------------------------------
	HEADER
------------------------------*/

#templatePreheader {
	background-color: #15263F;
	color: white;
	letter-spacing: .01em;
}

.logo {
	height: 80px;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.preheaderContent{
  padding: 0 16px;
}

.headerContent {
	height: 346px;
	background-image: url("img/header.jpg");
	background-size: cover;
}


/*------------------------------
	BODY
------------------------------*/

.section {
	border: solid 1px #CCC;
	background-color: white;
	padding: 30px 26px;
	border-radius: 3px;
}

.featured {
	background-color: #244677;
	color: white;
	letter-spacing: .015em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
}

.data-table {
	padding-bottom: 32px;
	border: none;
	border-top: solid 1px #ccc;
}


.data-table td {
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 16px 10px;
}








/*------------------------------
	FOOTER
------------------------------*/

#contact {
	padding-left: 50px;
}

.contact-info {
	width: 480px;
	padding-bottom: 22px;
}

.contact-info address {
	font-style: normal;
}

.contact-info .column {
	border-left: solid 1px #666;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact-info .column:first-child {
	border-left: none;
	padding-left: 0;
}